<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js"></script>
    <!-- relative time -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/plugin/relativeTime.min.js"></script>
    <script src="./js/main.js" defer></script>
    <title>Rotella ostetrica</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <h1>rotella ostetrica</h1>
            <input v-model="start" type="date">
            <button @click="go">calculate</button>
            <!-- <div @click="go">calculate</div> -->

            <!-- where are you now -->
            <h3>now we are at {{ weekDiff }} weeks and {{ diffMore }} days</h3>

            <h3>terms: {{ term }}</h3>

            <input v-model="second" type="date">
            <button @click="go2">calculate</button>
            <h3>{{ weekDiff2 }} weeks and {{ diffMore2 }} days</h3>

            <p>insert week</p>
            <input v-model="inputWeek" type="number">
            <p>insert day</p>
            <input v-model="inputDay" type="number">
            <button @click="go3">take</button>
            <h3>{{ add }}</h3>
            <h3>{{ addedDay }}</h3>


        </div>

    </div>
</body>
</html>