<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js"></script>
    <!-- relative time -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/plugin/relativeTime.min.js"></script>
    <script src="./js/main.js" defer></script>
    <title>Rotella ostetrica</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <h1>Rotella ostetrica</h1>

            <div class="box">
                <div class="select-input">
                    <div class="diff">
                        <h3>Ultima mesutruazione</h3>
                        <input v-model="start" type="date">
                        <button @click="takeFromStart">inserisci</button>
                    </div>
                    <div class="diff">
                        <h3>Epoca presunta del parto</h3>
                        <input v-model="inputParto" type="date"> 
                        <button @click="takefromEnd">inserisci</button>
        
                    </div>

                </div>
    
                <!-- where are you now -->
                <p>Ora sei a <span>{{ weekDiff }} </span> settimane e <span>{{ diffMore }}</span>  giorni</p>
    
                <p>termine: {{ term }}</p>

            </div>

            <div class="box">
                <h3>Inserisci la data</h3>
                <input v-model="second" type="date">
                <button @click="go2">calcola</button>
                <p><span>{{ weekDiff2 }}</span> weeks and <span>{{ diffMore2 }}</span>  days</p>

            </div>


            <div class="box">
                <p>Inserisci settimane</p>
                <input v-model="inputWeek" type="number">
                <p>Inserisci giorni</p>
                <input v-model="inputDay" type="number">
                <button @click="go3">calcola</button>
                <h3>{{ addedDay }}</h3>

            </div>


            <!-- <div class="box">
                <p>inserisci epoca presunta del parto</p>
                <input v-model="inputParto" type="date"> 
                <button @click="takefromEnd">take</button>
                <h3>now we are at {{ weekDiff }} weeks and {{ diffMore }} days</h3>
    
                <h3>terms: {{ term }}</h3>
            </div> -->


        </div>

    </div>
</body>
</html>